.item-link {
    max-width: 1360px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 9px grey;
    padding: 30px;
}

.name-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    margin: 30px;
}

.descr-price {
    margin: 30px;
    display: block;
    color: rgb(253, 101, 0);
    font-size: 25px;
    font-family: 'Geologica', sans-serif;
}

.descr {
    margin-left: 30px;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: black;
}

.table {
    display: block;
    border-collapse: collapse;
    margin: 30px;
    margin-left: 0;
    padding: 30px;
    font-family: 'Geologica', sans-serif;
}

.table th {
    background-color: #f2f2f2;
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

@media (max-width: 600px) {
    .item-link {
        padding: 10px;
    }

    .name-item {
        margin: 10px;
        font-size: 23px;
    }

    .descr {
        margin-left: 10px;
    }

    .table {
        margin: 0px;
    }
    .count-itemfn {
        margin: 20px 10px;
    }
}