.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* автоматические колонки, каждая минимум 300px ширины */
    grid-gap: 40px; /* промежуток между блоками */
    max-width: 1340px;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
}

.container-product {
    max-width: 1340px;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 9px grey;
    padding: 40px;
}

.product-item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 1px 5px grey;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    a {
        text-decoration: none;
        color: black;
    }
}

.product-item:hover {
    box-shadow: 1px 1px 19px rgb(255, 104, 3);
    transform: scale(1.02);
    transition: transform 500ms ease;
}

.img-items {
    width: 100%;
    margin-bottom: 20px;
}

.name-items {
    margin-bottom: 20px;
    font-size: 17px;
}

.info-items {
    margin-top: auto;
}


.selected {
    background-color: #ff0000;
    color: #ffffff;
    /* Другие стили для выбранного элемента */
}

.active {
    background-color: rgb(65, 65, 65);
    color: white;
}

Link {
    text-decoration: none;
}

.parent-filt {
    max-width: 400px;
    .btn-filt {
        font-family: 'Geologica', sans-serif;
        padding: 10px 20px 10px 20px;
        border: none;
        color: white;
        background-color: rgb(65, 65, 65);
        border-radius: 20px;
        cursor: pointer;
        font-size: 18px;
    }
}

.filter-cont {
    margin-top: -100px;
    background-color: #ffffff;
    padding: 20px;
    transition: margin-top 0.5s;
    border-radius: 20px;
    box-shadow: 0px 1px 5px grey;
    max-width: 350px;
    
}
  
.filter-cont.show {
    margin-top: 10px;
    animation-name: slideIn;
    animation-duration: 0.6s;
}
  
@keyframes slideIn {
    from {
        margin-top: -20px;
    }
    to {
        margin-top: 10px;
    }
}
  
.sort-brand {
    font-family: 'Geologica', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.li {
    font-size: 18px;
    font-family: 'Geologica', sans-serif;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    border: none;
    background: none;
}

.active-sort {
    font-size: 18px;
    font-family: 'Geologica', sans-serif;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    border: none;
    background: rgb(65, 65, 65);
    color: white;
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .li {
        font-size: 15px;
    }

    .container-product {
        padding: 25px;
    }
}