@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Montserrat:wght@300;600&family=Noto+Sans:wght@100&family=Raleway:wght@300&family=Roboto+Mono:wght@100&display=swap');

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo {
    display: block;
    cursor: pointer;
    color: black; 
}

.cont-basket {
    margin-top: 10px;
    margin-right: 40px;
}


.basket {
    width: 30px;
    height: 30px;
    color: black;
    cursor: pointer;
}

.basket:hover {
    transform: scale(1.1);
    transition: transform 500ms ease;
}

.counter-basket {
    position: absolute;
    display: inline;
    background-color: rgb(255, 104, 3);
    border-radius: 50%;
    font-family: 'Geologica', sans-serif;
    top: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 2px;
}

.logotype {
    background-image: url('./img/1.jpg');
    background-size: cover; /* Подгоняет изображение под размер элемента */
    background-position: center; /* Размещает изображение по центру элемента */
    height: 50px;
    width: 50px;
    border-radius: 50%; /* Делает логотип круглым */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Добавляет небольшую тень */
    margin-left: 10px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 11;
    top: 0px;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    max-width: 1400px;
    margin: 0 auto;
    box-shadow: 0px 5px 5px grey;
    border-radius: 0 0 15px 15px;
}


.navj {
    font-family: 'Geologica', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #111111;
    margin-top: 12px;
    margin-right: 40px;
}


.nav-links {
    display: flex;
}

.logo {
    display: flex;
    justify-content: space-between;
}


.hounter { 
    margin: 15px;
    font-family: 'Geologica', sans-serif;
}

.search-icon {
    color: black;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    color: black;
    cursor: pointer;
}

.search-icon:hover {
    transform: scale(1.1);
    transition: transform 500ms ease;
}