.basketc {
    max-width: 1360px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 9px grey;
    padding: 30px;
}

.basketc-item {
    box-shadow: 0px 0px 9px grey;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-height: 300px;
    font-family: 'Montserrat', sans-serif;
    img {
        max-width: 200px;
        max-height: 200px;
    }
    .delete-bas-item {
        width: 25px;
        height: 25px;
        cursor: pointer;
        margin-left: 70%;
    }
}

.basketc-item:hover {
    box-shadow: 1px 1px 19px rgb(255, 104, 3);
    transform: scale(1.01);
    transition: transform 500ms ease;
}

.price-bas {
    display: block;
    margin-top: 50%;
    color: rgb(253, 101, 0);
    font-size: 25px;
}

.noitem {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}

.count-item {
    font-size: 18px;
}

.order {
    margin: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.order-btn {
    font-family: 'Geologica', sans-serif;
    cursor: pointer;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgb(24, 24, 24);
    display: inline-block;
}

.total-price {
    display: block;
    color: rgb(253, 101, 0);
    font-size: 25px;
    font-family: 'Geologica', sans-serif;
    font-size: 30px;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    .order {
        flex-direction: column;
        align-items: center;
    }

    .order-btn {
        margin-top: 20px;
        width: 200px;
        text-align: center;
    }

    .total-price {
        margin-top: 20px;
        font-size: 20px;
    }
}

/* Адаптивные стили для планшетов и десктопов */
@media (min-width: 769px) {
    .order {
        margin: 20px;
        margin-bottom: 10px;
    }

    .order-btn {
        padding: 15px;
    }

    .total-price {
        font-size: 25px;
    }
}


@media (max-width: 550px) {
    .basketc-item {
        font-size: 14px;
        img {
            max-width: 150px;
            max-height: 150px;
        }
        .name-items {
            font-size: 14px;
        }
    }

    .price-bas {
        font-size: 16px;
    }

    .count-item {
        font-size: 14px;
    }

    .basketc {
        padding: 15px;
    }
}